body {
    font-family: "Berlin Sans FB", sans-serif;
    background-color: #d4e8fa;
    padding: 0;
    margin: 0;
    color: #1454fc;
}

/* NAV BAR AREA */
.container .navbar {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    background-image: url(images/blurpattern.png);
    background-size: auto;
    padding-bottom: 5px;
    /* background-color: #7BB3FC;   */
}

.leftnavbar {
    align-self: flex-start;
    margin-left: 70px;
    padding: 10px 20px;
}

.leftnavbar .rectlogo {
    height: 62px;
    width: 62px;
    vertical-align: text-bottom;
    margin-right: 5px;
}

.iconlogo {
    vertical-align: text-bottom;
    width: 327px;
    height: 62px;
}

.rightnavbar {
    align-self: flex-end;
    margin-right: 70px;
    padding: 10px 20px;
}

.rightnavbar span {
    margin: 10px;
    font-size: 25px;
}

/* ANNOUNCEMENT */
.content {
    padding: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: #f2c7ce; */
    /* height: 510px; */
}

.content .card {
    width: 350px;
    height: min-content;
    border: 5px solid aliceblue;
    border-radius: 5%;
    background-color: aliceblue;
}

.content .lorem,
.content .lorem2 {
    width: 350px;
    height: 263px;
    display: flex;
    align-self: center;
    border-radius: 5%;
    opacity: 100%;
}

.content .lorem {
    margin-right: 2%;
}

.content .lorem2 {
    margin-left: 2%
}

.content .lorem3,
.content .lorem4 {
    width: 375px;
    height: 206px;
    display: flex;
    align-self: center;
    border-radius: 5%;
    opacity: 50%;
}

.content .lorem3 {
    margin-right: 2%;
}

.content .lorem4 {
    margin-left: 2%;
}

.cardbody img {
    width: 350px;
    border-radius: 5%;
}

.content .card .cardbody p {
    font-size: x-large;
    margin: 0;
    padding: 3%;
    text-align: center;
    font-weight: 500;
}

.cardbody .cardfooter {
    display: flex;
    justify-content: center;
}

/* .cardbody .cardfooter p{
    color: #ec7c8c;
} */

.cardfooter {
    text-align: center;
}

.cardfooter button {
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2%;
}

/* ABOUT */
.about {
    margin-top: 10%;
    margin-left: 70px;
    margin-right: 70px;
}

.aboutall {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}

.abouttext {
    font-size: 25px;
    text-align: left;
    padding-left: 5%;
}

.about img {
    width: 250px;
    height: 250px;
    display: flex;
    align-self: center;
}

/* CONTACT */
.contact {
    margin-top: 10%;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 7%;
}

.contact .text {
    padding-top: 3%;
    padding-bottom: 1%;
    display: flex;
    justify-content: flex-end;
}

.contacttext {
    text-align: center;
}

.contactall {
    margin-top: 3%;
    display: flex;
    justify-content: flex-start;
}


.tele {
    padding-left: 25px;
    width: fit-content;
    white-space: nowrap;
}

.address {
    padding-left: 35px;
}

img {
    width: 30px;
}

.gmap {
    align-self: flex-start;
}